Repository infernokun/InfernoComics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-recog, build-web

Path conditions:
  build-rest: any of: inferno-comics-rest/**/*, docker-compose.yml
  build-recog: any of: inferno-comics-recog/**/*, docker-compose.yml
  build-web: any of: inferno-comics-web/**/*, docker-compose.yml

fix enums
  inferno-comics-recog/src/models/enums/State.py
Due: build-recog

fix enum
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
Due: build-rest

fix old impls
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series-detail/image-processing-progress/image-processing-progress.component.html
  inferno-comics-web/src/app/components/series-detail/image-processing-progress/image-processing-progress.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/renderers/combined-status-cell.renderer.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/renderers/time-info-cell.renderer.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/services/issue.service.ts
Due: build-rest, build-web

rm model mapper and replace with map struct, some restructuring
  inferno-comics-recog/README.md
  inferno-comics-rest/Dockerfile
  inferno-comics-rest/README.md
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/etc/ModelMapperConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/etc/OpenApiConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/mappers/SeriesMapper.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/gcd/GCDCoverPageScraper.java
  inferno-comics-web/README.md
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.html
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.scss
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.ts
  inferno-comics-web/src/app/components/common/dialog/range-selection-dialog/range-selection-dialog.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
Due: build-rest, build-recog, build-web

remove classes not needed and simplify names
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/clients/SocketClient.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/clients/WebClient.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/AsyncConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/OpenApiConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/RedisConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/WebConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/WebSocketConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/CryptoException.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/GlobalExceptionHandler.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ComicVineService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/DescriptionGeneratorService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/AESUtil.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/KeyGeneratorUtility.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/RSAKeyProperties.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/IssueServiceTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/SeriesServiceTest.java
Due: build-rest

new paginator
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.html
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.scss
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.ts
  inferno-comics-web/src/app/components/dashboard/dashboard.component.html
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/dashboard/dashboard.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
Due: build-web

modify paginator pos
  inferno-comics-web/src/app/components/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.scss
Due: build-web

pagination backend
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/BaseController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ApiResponse.java
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.ts
  inferno-comics-web/src/app/components/common/dialog/common-dialog/common-dialog.component.html
  inferno-comics-web/src/app/components/common/dialog/common-dialog/common-dialog.component.ts
  inferno-comics-web/src/app/components/common/dialog/json-dialog/json-dialog.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
  inferno-comics-web/src/app/services/message.service.ts
  inferno-comics-web/src/app/services/series.service.ts
  inferno-comics-web/src/styles.scss
Due: build-rest, build-web

rm space
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
Due: build-rest

improved styling a bit
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.scss
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.ts
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.html
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.ts
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.html
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.scss
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series-detail/series-detail.component.scss
Due: build-web

scss mobile redesign
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/app.component.scss
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.scss
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series-list/series-list.component.scss
Due: build-web

ver bump
  inferno-comics-web/package.json
Due: build-web

fix eval link and icon
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.scss
Due: build-web

fix: inferno-comics-web/package.json & inferno-comics-web/pnpm-lock.yaml to reduce vulnerabilities
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

update pipeline images
  .gitlab-ci.yml
Due: none

rm com
  inferno-comics-web/src/app/utils/date-utils.ts
Due: build-web

some mobile design and click to zoom
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/app.component.scss
  inferno-comics-web/src/app/components/config/recognition-config.component.scss
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.ts
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
  inferno-comics-web/src/styles.scss
  inferno-comics-web/src/styles/_global-layout.scss
Due: build-web

add select to the zoom
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.ts
Due: build-web

mobile again
  CLAUDE.md
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.ts
Due: build-web

fix avail issue and edit add series bugs
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/src/app/components/series/series-form/series-form.component.ts
Due: build-rest, build-web

change num to url slug
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.html
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series/series-form/series-form.component.ts
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
  inferno-comics-web/src/app/models/series.model.ts
Due: build-web

show more button style
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
Due: build-web

redesign search and sort
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
Due: build-web

fix status route
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.html
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.scss
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
Due: build-web

actual fix
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
Due: build-web

update readme pipeline
  README.md
Due: none

rm add btn and console log
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/WebSocketConfig.java
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
Due: build-rest, build-web

fix end year
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ComicVineService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
Due: build-rest

remove log stuff
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
Due: build-rest

some dev updates and remove some snackbars
  README.md
  inferno-comics-recog/package.json
  inferno-comics-rest/Dockerfile
  inferno-comics-rest/package.json
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/common/dialog/confirmation-dialog/confirmation-dialog.component.spec.ts
  inferno-comics-web/src/app/components/common/dialog/dialog-question/dialog-question.component.html
  inferno-comics-web/src/app/components/common/dialog/dialog-question/dialog-question.component.scss
  inferno-comics-web/src/app/components/common/dialog/dialog-question/dialog-question.component.spec.ts
  inferno-comics-web/src/app/components/common/dialog/dialog-question/dialog-question.component.ts
  inferno-comics-web/src/app/components/issues/issue-form/issue-form.component.spec.ts
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/series/series-list/series-list.component.spec.ts
  package.json
Due: build-rest, build-recog, build-web

styles fixing
  inferno-comics-web/src/app/components/dashboard/dashboard.component.html
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/dashboard/dashboard.component.ts
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.html
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
Due: build-web

redesign issue view and add reverify issue button
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Issue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.ts
  inferno-comics-web/src/app/components/issues/issue-form/issue-form.component.ts
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.html
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/models/comic-vine.model.ts
  inferno-comics-web/src/app/services/issue.service.ts
Due: build-rest, build-web

add admin page with more settings
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/admin/admin.component.html
  inferno-comics-web/src/app/components/admin/admin.component.scss
  inferno-comics-web/src/app/components/admin/admin.component.ts
Due: build-web

scss craziness
  inferno-comics-web/angular.json
  inferno-comics-web/src/app/app.component.scss
  inferno-comics-web/src/app/components/admin/admin.component.scss
  inferno-comics-web/src/app/components/common/dialog/common-dialog/common-dialog.component.scss
  inferno-comics-web/src/app/components/common/dialog/confirmation-dialog/confirmation-dialog.component.scss
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.scss
  inferno-comics-web/src/app/components/config/recognition-config.component.scss
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/issues/issue-form/issue-form.component.scss
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
  inferno-comics-web/src/styles.scss
  inferno-comics-web/src/styles/_animations.scss
  inferno-comics-web/src/styles/_breakpoints.scss
  inferno-comics-web/src/styles/_global-layout.scss
  inferno-comics-web/src/styles/_mixins.scss
  inferno-comics-web/src/styles/_utilities.scss
  inferno-comics-web/src/styles/_variables.scss
Due: build-web

redesign progress data and extend count
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressDataController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/ProgressDataRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.html
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.scss
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
Due: build-rest, build-web

small bulk comp changes
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.ts
Due: build-web

redesign missing issues
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.html
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.ts
Due: build-web

missing comic changes
  inferno-comics-dev/test.py
  inferno-comics-rest/src/main/resources/logback.xml
  inferno-comics-web/src/app/components/admin/admin.component.scss
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.html
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
Due: build-rest, build-web
