Repository infernokun/InfernoComics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-recog, build-web

Path conditions:
  build-rest: any of: inferno-comics-rest/**/*, docker-compose.yml
  build-recog: any of: inferno-comics-recog/**/*, docker-compose.yml
  build-web: any of: inferno-comics-web/**/*, docker-compose.yml

some scss clean up
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.html
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.scss
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
  inferno-comics-web/src/styles.scss
Due: build-web

small scss clean
  inferno-comics-web/src/app/components/config/recognition-config.component.scss
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.scss
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
  inferno-comics-web/src/styles.scss
  inferno-comics-web/src/styles/_animations.scss
  inferno-comics-web/src/styles/_breakpoints.scss
  inferno-comics-web/src/styles/_global-layout.scss
  inferno-comics-web/src/styles/_mixins.scss
  inferno-comics-web/src/styles/_utilities.scss
  inferno-comics-web/src/styles/_variables.scss
  inferno-comics-web/src/styles/app-styles.scss
Due: build-web

variant test and changed webclient name
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/clients/InfernoComicsWebClient.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/InfernoComicsConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ComicVineService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/DescriptionGeneratorService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SearxngImageSearchService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/resources/application-local.yml
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/IssueServiceTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/SeriesServiceTest.java
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

reign in styles
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.scss
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.scss
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.scss
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
  inferno-comics-web/src/styles.scss
  inferno-comics-web/src/styles/_mixins.scss
Due: build-web

disable variants
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
Due: build-web

rm unneeded scss and added latest to issues comp
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SchedulingService.java
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/components/common/image-hover-preview/image-hover-preview.component.ts
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/issues/issue-form/issue-form.component.scss
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.html
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.scss
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.ts
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.scss
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
  inferno-comics-web/src/app/models/series.model.ts
Due: build-rest, build-web

improve issue related styling and feats
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.html
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.scss
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
Due: build-web

add skeleton loader
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
  inferno-comics-web/src/app/components/dashboard/dashboard.component.html
  inferno-comics-web/src/app/components/dashboard/dashboard.component.scss
  inferno-comics-web/src/app/components/dashboard/dashboard.component.ts
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.html
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.scss
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.scss
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
Due: build-web

modify caching to json obj
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/JsonRedisCacheWriter.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/RedisConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ComicVineService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RedisJsonService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/src/app/components/dashboard/dashboard.component.html
Due: build-rest, build-web

fixed some styles and some snackbar changes
  inferno-comics-web/src/app/components/common/dialog/json-dialog/json-dialog.component.ts
  inferno-comics-web/src/app/components/series/series-form/series-form.component.html
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
  inferno-comics-web/src/app/components/series/series-form/series-form.component.ts
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
  inferno-comics-web/src/app/services/message.service.ts
  inferno-comics-web/src/styles.scss
Due: build-web

changed more snackbar to message service
  inferno-comics-web/src/app/components/admin/admin.component.ts
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/config/recognition-config.component.ts
  inferno-comics-web/src/app/components/issues/issue-form/issue-form.component.ts
  inferno-comics-web/src/app/components/issues/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/series/series-admin/series-admin.component.ts
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
Due: build-web

web ver bump
  inferno-comics-web/package.json
Due: build-web

some formatting
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-form/series-form.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
Due: build-web

modified some call and movied reverify btn
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/BaseController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ApiResponse.java
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
Due: build-rest, build-web

add skeleton loader
  inferno-comics-web/pnpm-lock.yaml
  inferno-comics-web/src/app/components/dashboard/dashboard.component.html
Due: build-web

small clean up
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
  inferno-comics-web/src/app/app.component.ts
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/services/environment.service.ts
Due: build-web

add skeleton loader
  CLAUDE.md
  README.md
  docs/images/comic-selection-1.png
  docs/images/comic-selection-2.png
  docs/images/comic-vine-search.png
  docs/images/dashboard.png
  docs/images/issue-browse-not-owned.png
  docs/images/issues.png
  docs/images/missing-issues.png
  docs/images/processing-status.png
  docs/images/result-matching.png
  docs/images/series-view.png
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/styles/_variables.scss
Due: build-rest, build-web

modify caching to json obj
  inferno-comics-web/src/app/components/dashboard/dashboard.component.html
Due: build-web

move btns into menu
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
Due: build-web

small mod to docker yml
  docker-compose.yml
Due: build-rest, build-recog, build-web

fix menu btn
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
Due: build-web

update git ci
  .gitlab-ci.yml
Due: none

add CLIP-based embedding matcher for image similarity
  inferno-comics-recog/requirements.txt
  inferno-comics-recog/src/config/default/config.yml
  inferno-comics-recog/src/models/EmbeddingComicMatcher.py
Due: build-recog

wire up matcher type selection in app initialization
  inferno-comics-recog/src/config/ComicMatcherConfig.py
  inferno-comics-recog/src/config/default/config.yml
  inferno-comics-recog/src/recog.py
Due: build-recog

fix Globals.py fallback to respect matcher_type config
  inferno-comics-recog/src/util/Globals.py
Due: build-recog

fix hardcoded matcher name in service log message
  inferno-comics-recog/src/services/ImageMatcherService.py
Due: build-recog

fix: fetch match results via REST when SSE doesn't deliver them
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.scss
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-web

fix search bar on mobile for series add
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
Due: build-web

add collection stats page with charts and visualizations
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/StatsController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/StatsService.java
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/stats/stats.component.html
  inferno-comics-web/src/app/components/stats/stats.component.scss
  inferno-comics-web/src/app/components/stats/stats.component.ts
  inferno-comics-web/src/app/services/stats.service.ts
Due: build-rest, build-web

add new stats
  .gitlab-ci.yml
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/StatsService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
  inferno-comics-web/src/app/components/stats/stats.component.html
  inferno-comics-web/src/app/components/stats/stats.component.scss
  inferno-comics-web/src/app/components/stats/stats.component.ts
  inferno-comics-web/src/app/services/stats.service.ts
Due: build-rest, build-web

add skeleton loader
  inferno-comics-web/src/app/components/series/series-form/series-form.component.html
Due: build-web

fix legend color and sep number stat
  inferno-comics-web/src/app/components/stats/stat/card-stat/card-stat.component.html
  inferno-comics-web/src/app/components/stats/stat/card-stat/card-stat.component.scss
  inferno-comics-web/src/app/components/stats/stat/card-stat/card-stat.component.ts
  inferno-comics-web/src/app/components/stats/stat/number-stat/number-stat.component.html
  inferno-comics-web/src/app/components/stats/stat/number-stat/number-stat.component.scss
  inferno-comics-web/src/app/components/stats/stat/number-stat/number-stat.component.ts
  inferno-comics-web/src/app/components/stats/stats.component.html
  inferno-comics-web/src/app/components/stats/stats.component.scss
  inferno-comics-web/src/app/components/stats/stats.component.ts
Due: build-web

small fixes to charts
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/StatsService.java
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/stats/stat/chart-card/chart-card.component.html
  inferno-comics-web/src/app/components/stats/stat/chart-card/chart-card.component.scss
  inferno-comics-web/src/app/components/stats/stat/chart-card/chart-card.component.ts
  inferno-comics-web/src/app/components/stats/stat/gauge-stat/gauge-stat.component.html
  inferno-comics-web/src/app/components/stats/stat/gauge-stat/gauge-stat.component.scss
  inferno-comics-web/src/app/components/stats/stat/gauge-stat/gauge-stat.component.ts
  inferno-comics-web/src/app/components/stats/stat/newest-list/newest-list.component.html
  inferno-comics-web/src/app/components/stats/stat/newest-list/newest-list.component.scss
  inferno-comics-web/src/app/components/stats/stat/newest-list/newest-list.component.ts
  inferno-comics-web/src/app/components/stats/stats.component.html
  inferno-comics-web/src/app/components/stats/stats.component.scss
  inferno-comics-web/src/app/components/stats/stats.component.ts
  inferno-comics-web/src/app/services/stats.service.ts
  inferno-comics-web/src/styles.scss
Due: build-rest, build-web

replace almost complete chart
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/stats/stats.component.html
  inferno-comics-web/src/app/components/stats/stats.component.ts
  package.json
Due: build-web

fix sort date added and chart
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
  inferno-comics-web/src/app/components/stats/stats.component.ts
  inferno-comics-web/src/app/services/stats.service.ts
Due: build-web

rest portion of complete fix
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/StatsService.java
  inferno-comics-rest/src/main/resources/application.yml
Due: build-rest

move settings into menu
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app.component.html
Due: build-web

random chart colors and code cleanup and something to debug later
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/GlobalExceptionHandler.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-web/src/app/components/admin/admin.component.html
  inferno-comics-web/src/app/components/admin/admin.component.ts
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.html
  inferno-comics-web/src/app/components/common/custom-paginator/custom-paginator.component.scss
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.html
  inferno-comics-web/src/app/components/stats/stats.component.ts
Due: build-rest, build-web

fix some bugs: progress data table, image processing, evaluation link
  inferno-comics-recog/package.json
  inferno-comics-recog/src/templates/evaluation.html
  inferno-comics-recog/src/templates/evaluation_error.html
  inferno-comics-recog/src/templates/evaluation_list.html
  inferno-comics-recog/src/templates/evaluation_result.html
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/ProgressDataRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/WeirdService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.html
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.scss
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.ts
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.html
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.scss
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series/series-detail/progress-data-table/renderers/evaluation-link-cell.renderer.ts
  inferno-comics-web/src/app/models/progress-data.model.ts
Due: build-rest, build-recog, build-web

redesign eval pages
  inferno-comics-recog/package.json
  inferno-comics-recog/src/static/css/base.css
  inferno-comics-recog/src/static/css/evaluation.css
  inferno-comics-recog/src/static/js/api.js
  inferno-comics-recog/src/static/js/theme.js
  inferno-comics-recog/src/templates/base.html
  inferno-comics-recog/src/templates/evaluation.html
  inferno-comics-recog/src/templates/evaluation_error.html
  inferno-comics-recog/src/templates/evaluation_list.html
  inferno-comics-recog/src/templates/evaluation_result.html
Due: build-recog
