Repository infernokun/InfernoComics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-recog, build-web

build-rest:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-rest
  - npm run docker:build
  - echo "BUILT_REST=true" >> build.env
  artifacts:
    reports:
  ...

build-recog:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-recog
  - npm run docker:build
  - echo "BUILT_RECOG=true" >> build.env
  artifacts:
    reports:
  ...

build-web:
  stage: build
  image: docker:24.0.7
  services:
  - name: docker:dind
    command:
    - --host=tcp://0.0.0.0:2375
    - --mtu=1500
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-web
  ...

version bumps and updates to web
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/gcd/GCDIssueRepository.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-rest, build-web

issue list improvement
  inferno-comics-web/src/app/components/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
Due: build-web

change rest runtime image
  inferno-comics-rest/Dockerfile
Due: build-rest

update java 22
  inferno-comics-rest/Dockerfile
  inferno-comics-rest/build.gradle
Due: build-rest

update java 25 & change runtime to alpine
  inferno-comics-rest/Dockerfile
  inferno-comics-rest/build.gradle
Due: build-rest

update spring
  inferno-comics-rest/build.gradle
  inferno-comics-rest/gradle/wrapper/gradle-wrapper.properties
Due: build-rest

version bump
  inferno-comics-rest/gradle/wrapper/gradle-wrapper.properties
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-web

fix rest run cmd
  inferno-comics-rest/Dockerfile
Due: build-rest

fix edit
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/app.component.scss
  inferno-comics-web/src/app/components/dashboard/dashboard.component.html
  inferno-comics-web/src/app/components/series-form/series-form.component.html
Due: build-rest, build-web

recog config read/write
  inferno-comics-recog/package.json
  inferno-comics-recog/src/config/ComicMatcherConfig.py
  inferno-comics-recog/src/config/config.yml
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
  inferno-comics-recog/src/models/RecognitionConfig.py
  inferno-comics-recog/src/recog.py
  inferno-comics-recog/src/routes/config/Config.py
  inferno-comics-recog/src/routes/config/__init__.py
  inferno-comics-recog/src/services/ImageMatcherService.py
  inferno-comics-recog/src/util/FileOperations.py
  inferno-comics-rest/gradle/wrapper/gradle-wrapper.properties
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/InfernoComicsRestController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/RecognitionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/RecognitionConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/config/config.component.html
  inferno-comics-web/src/app/components/config/config.component.scss
  inferno-comics-web/src/app/components/config/config.component.ts
  inferno-comics-web/src/app/services/recognition-config.service.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-recog, build-web

config styling and redesign
  inferno-comics-web/src/app/components/config/config.component.html
  inferno-comics-web/src/app/components/config/config.component.scss
  inferno-comics-web/src/app/components/config/config.component.ts
  inferno-comics-web/src/app/material.module.ts
Due: build-web

clean code, removed logs, global matcher config
  docker-compose.yml
  inferno-comics-recog/package.json
  inferno-comics-recog/src/config/FlaskConfig.py
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
  inferno-comics-recog/src/models/JavaProgressReporter.py
  inferno-comics-recog/src/recog.py
  inferno-comics-recog/src/routes/config/Config.py
  inferno-comics-recog/src/routes/health/Health.py
  inferno-comics-recog/src/services/ImageMatcherService.py
  inferno-comics-recog/src/util/FileOperations.py
  inferno-comics-recog/src/util/Globals.py
  inferno-comics-recog/src/util/Logger.py
Due: build-rest, build-recog, build-web

some clean
  inferno-comics-recog/src/routes/config/Config.py
  inferno-comics-recog/src/routes/health/Health.py
Due: build-recog

start replay
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-web/src/app/admin/admin-actions.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

add loguru
  inferno-comics-recog/requirements.txt
Due: build-recog

add replay func
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/ProcessedFileRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
Due: build-rest, build-recog, build-web

change action buttons to drop down
  inferno-comics-web/src/app/admin/admin-actions.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
Due: build-web

modify instead of delete
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessedFile.java
Due: build-rest

delete files when progress data is removed
  inferno-comics-recog/package.json
  inferno-comics-recog/src/config/ComicMatcherConfig.py
  inferno-comics-recog/src/recog.py
  inferno-comics-recog/src/routes/config/Config.py
  inferno-comics-recog/src/routes/health/Health.py
  inferno-comics-recog/src/util/FileOperations.py
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/ProcessedFileRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-recog, build-web

cleanup
  inferno-comics-recog/src/recog.py
  inferno-comics-recog/src/util/Logger.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
Due: build-rest, build-recog

Refactors and cleanups
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/CacheManagementController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/DescriptionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/RecognitionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/VersionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/config/config.component.ts
  inferno-comics-web/src/app/components/issue-form/issue-form.component.ts
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/series-detail/issue-view-dialog/issue-view-dialog.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series-form/series-form.component.ts
  inferno-comics-web/src/app/models/comic-vine.model.ts
  inferno-comics-web/src/app/models/issue-request.model.ts
  inferno-comics-web/src/app/models/issue.model.ts
  inferno-comics-web/src/app/models/progress-data.model.ts
  inferno-comics-web/src/app/models/series.model.ts
  inferno-comics-web/src/app/services/base.service.ts
  inferno-comics-web/src/app/services/comic-vine.service.ts
  inferno-comics-web/src/app/services/issue.service.ts
  inferno-comics-web/src/app/services/recognition.service.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

fix for progress/image
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series-detail/bulk-comic-selection/bulk-comic-selection.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
Due: build-web

edit issue
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/RecognitionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-web/src/app/components/issue-form/issue-form.component.html
  inferno-comics-web/src/app/components/issue-form/issue-form.component.scss
  inferno-comics-web/src/app/components/issue-form/issue-form.component.ts
  inferno-comics-web/src/app/services/issue.service.ts
Due: build-rest, build-web

add w/ image and update image
  inferno-comics-recog/package.json
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/util/FileOperations.py
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/issue-form/issue-form.component.html
  inferno-comics-web/src/app/components/issue-form/issue-form.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/models/issue.model.ts
  inferno-comics-web/src/app/services/issue.service.ts
Due: build-rest, build-recog, build-web

fix: inferno-comics-web/package.json to reduce vulnerabilities
  inferno-comics-web/package.json
Due: build-web

clean up
  inferno-comics-recog/src/routes/evaluation/Evaluation.py
  inferno-comics-recog/src/routes/health/Health.py
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/services/ImageMatcherService.py
  inferno-comics-recog/src/util/Logger.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-recog, build-web

replace polling with websocket
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/WeirdService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/websocket/InfernoComicsSocketHandler.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/app.component.ts
  inferno-comics-web/src/app/app.module.ts
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.html
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.scss
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/common/version-info/version-info.component.ts
  inferno-comics-web/src/app/services/websocket.service.ts
Due: build-rest, build-web

ws nginx support
  docker-compose.yml
  inferno-comics-web/nginx/nginx.conf
  inferno-comics-web/src/assets/environment/app.config.production.json
Due: build-rest, build-recog, build-web

ws change
  docker-compose.yml
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/WeirdService.java
Due: build-rest, build-recog, build-web

socket handler endpoint nginx
  inferno-comics-web/nginx/nginx.conf
Due: build-web

fix websocket once more
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/WeirdService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/websocket/InfernoComicsSocketHandler.java
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/services/series.service.ts
  inferno-comics-web/src/app/services/websocket.service.ts
Due: build-rest, build-web

try conf fix
  inferno-comics-web/nginx/nginx.conf
Due: build-web

try conf fix 2
  inferno-comics-web/nginx/nginx.conf
Due: build-web

ws ok sure
  docker-compose.yml
  inferno-comics-web/src/app/services/websocket.service.ts
Due: build-rest, build-recog, build-web

more socket fixes and fixed some weirdness
  inferno-comics-recog/src/models/JavaProgressReporter.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/websocket/InfernoComicsSocketHandler.java
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/services/websocket.service.ts
Due: build-rest, build-recog, build-web

remove session scheduled task
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SessionCleanupService.java
Due: build-rest

improve logger
  inferno-comics-recog/package.json
  inferno-comics-recog/src/recog.py
  inferno-comics-recog/src/util/Logger.py
Due: build-recog

refactor comic matcher a bit and update request issue
  inferno-comics-recog/package.json
  inferno-comics-recog/requirements.txt
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
Due: build-recog

Path conditions:
  build-rest: any of: inferno-comics-rest/**/*, docker-compose.yml
  build-recog: any of: inferno-comics-recog/**/*, docker-compose.yml
  build-web: any of: inferno-comics-web/**/*, docker-compose.yml
