Repository infernokun/InfernoComics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-recog, build-web

build-rest:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-rest
  - npm run docker:build
  - echo "BUILT_REST=true" >> build.env
  artifacts:
    reports:
  ...

build-recog:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-recog
  - npm run docker:build
  - echo "BUILT_RECOG=true" >> build.env
  artifacts:
    reports:
  ...

build-web:
  stage: build
  image: docker:24.0.7
  services:
  - name: docker:dind
    command:
    - --host=tcp://0.0.0.0:2375
    - --mtu=1500
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-web
  ...

fix double print
  inferno-comics-recog/package.json
  inferno-comics-recog/src/recog.py
Due: build-recog

fix: inferno-comics-web/package.json to reduce vulnerabilities
  inferno-comics-web/package.json
Due: build-web

cleaning imports and moving stuff around
  inferno-comics-recog/package.json
  inferno-comics-recog/src/config/ComicMatcherConfig.py
  inferno-comics-recog/src/config/EnvironmentConfig.py
  inferno-comics-recog/src/config/RecognitionConfig.py
  inferno-comics-recog/src/config/default/config.yml
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
  inferno-comics-recog/src/models/JavaProgressReporter.py
  inferno-comics-recog/src/recog.py
  inferno-comics-recog/src/routes/config/Config.py
  inferno-comics-recog/src/routes/evaluation/Evaluation.py
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/services/ImageMatcherService.py
  inferno-comics-recog/src/util/FileOperations.py
  inferno-comics-recog/src/util/ImageUtils.py
  inferno-comics-recog/src/util/Logger.py
Due: build-recog

rm unused import
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
Due: build-recog

angular 19 -> 20
  inferno-comics-web/angular.json
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

last pkg updates and readme
  inferno-comics-web/README.md
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

more readme and compose update
  README.md
  docker-compose.yml
  inferno-comics-recog/README.md
  inferno-comics-rest/README.md
  inferno-comics-web/README.md
Due: build-rest, build-recog, build-web

add tests java
  inferno-comics-rest/build.gradle
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/InfernoComicsRestApplicationTests.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/issue/IssueServiceCacheTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/issue/IssueServiceCoreTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/issue/IssueServiceTest.java
Due: build-rest

moar tests
  inferno-comics-rest/build.gradle
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/IssueServiceTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/SeriesServiceTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/issue/IssueServiceCacheTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/issue/IssueServiceCoreTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/issue/IssueServiceTest.java
Due: build-rest

fix dates/times, fix issues in admin pane, tests, and more
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Issue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Series.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/ProgressDataRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SchedulingService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/IssueServiceTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/SeriesServiceTest.java
  inferno-comics-web/src/app/components/series-admin/series-admin.component.html
  inferno-comics-web/src/app/components/series-admin/series-admin.component.scss
  inferno-comics-web/src/app/components/series-admin/series-admin.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/models/issue.model.ts
  inferno-comics-web/src/app/models/series.model.ts
  inferno-comics-web/src/app/services/environment/environment.service.spec.ts
  inferno-comics-web/src/app/services/series/series.service.ts
  inferno-comics-web/src/app/utils/date-utils.ts
Due: build-rest, build-web

fix tests and update gradle
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/InfernoComicsRestApplicationTests.java
Due: build-rest

fix tests and update gradle
  inferno-comics-rest/build.gradle
  inferno-comics-rest/gradle/wrapper/gradle-wrapper.jar
  inferno-comics-rest/gradle/wrapper/gradle-wrapper.properties
  inferno-comics-rest/gradlew
  inferno-comics-rest/gradlew.bat
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/IssueServiceTest.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/SeriesServiceTest.java
Due: build-rest

small changes and minor spring update
  inferno-comics-rest/build.gradle
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/InfernoComicsRestApplication.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/etc/RedisConfig.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-rest/src/main/resources/logback.xml
  inferno-comics-web/src/app/app.component.ts
  inferno-comics-web/src/app/app.module.ts
  inferno-comics-web/src/app/services/environment/environment.service.ts
  inferno-comics-web/src/app/services/websocket/websocket.service.ts
  inferno-comics-web/src/app/utils/utils.ts
Due: build-rest, build-web

base service and api res with type
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/VersionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ApiResponse.java
  inferno-comics-web/src/app/services/version/version.service.ts
Due: build-rest, build-web

Add status REPLAY, moved some stuff around, tests, cleanup
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressDataController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ProgressData.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/ProgressDataRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SessionCleanupService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-web/src/app/app.component.spec.ts
  inferno-comics-web/src/app/app.module.ts
  inferno-comics-web/src/app/components/common/dialog/add-dialog-form/add-dialog-form.component.html
  inferno-comics-web/src/app/components/common/dialog/add-dialog-form/add-dialog-form.component.scss
  inferno-comics-web/src/app/components/common/dialog/add-dialog-form/add-dialog-form.component.spec.ts
  inferno-comics-web/src/app/components/common/dialog/add-dialog-form/add-dialog-form.component.ts
  inferno-comics-web/src/app/components/common/dialog/common-dialog/common-dialog.component.spec.ts
  inferno-comics-web/src/app/components/common/dialog/common-dialog/common-dialog.component.ts
  inferno-comics-web/src/app/components/common/dialog/confirmation-dialog/confirmation-dialog.component.html
  inferno-comics-web/src/app/components/common/dialog/confirmation-dialog/confirmation-dialog.component.ts
  inferno-comics-web/src/app/components/common/dialog/dialog-question/dialog-question.component.ts
  inferno-comics-web/src/app/components/dashboard/dashboard.component.spec.ts
  inferno-comics-web/src/app/components/issue-form/issue-form.component.spec.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/renderers/admin-actions.renderer.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/renderers/combined-status-cell.renderer.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/renderers/evaluation-link-cell.renderer.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/renderers/time-info-cell.renderer.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.spec.ts
  inferno-comics-web/src/app/components/series-form/series-form.component.spec.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.spec.ts
  inferno-comics-web/src/app/models/progress-data.model.ts
  inferno-comics-web/src/app/services/websocket/websocket.service.spec.ts
  inferno-comics-web/src/app/utils/date-utils.ts
  inferno-comics-web/src/app/utils/utils.ts
Due: build-rest, build-web

add version info back
  inferno-comics-web/src/app/app.module.ts
Due: build-web

update to use api res obj
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/clients/InfernoComicsSocketClient.java
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.html
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.scss
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/dashboard/dashboard.component.ts
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/series-admin/series-admin.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series-form/series-form.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
  inferno-comics-web/src/app/models/comic-vine.model.ts
  inferno-comics-web/src/app/models/processing-result.model.ts
  inferno-comics-web/src/app/services/comic-vine/comic-vine.service.ts
  inferno-comics-web/src/app/services/progress-data/progress-data.service.spec.ts
  inferno-comics-web/src/app/services/progress-data/progress-data.service.ts
  inferno-comics-web/src/app/services/series/series.service.ts
Due: build-rest, build-web

update to use api res obj rest
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/clients/InfernoComicsSocketClient.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/clients/InfernoComicsWebClient.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/web/WebSocketConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressDataController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ComicVineService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/DescriptionGeneratorService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
Due: build-rest

rest ver bump
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
Due: build-rest

some more meanup and apires hookup
  inferno-comics-recog/src/util/Logger.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/BaseController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/DescriptionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/InfernoComicsRestController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressDataController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/RecognitionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/VersionController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/GlobalExceptionHandler.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/logger/InfernoComicsLogger.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/gcd/GCDIssue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessedFile.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ComicVineService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RecognitionService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/gcd/GCDCoverPageScraper.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/AESUtil.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/GCDCoverListConverter.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/GenericTextCleaner.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/RSAKeyProperties.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/VariantCoverListConverter.java
  inferno-comics-web/src/app/components/issue-form/issue-form.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/services/issue.service.ts
Due: build-rest, build-recog, build-web

use the base service and clean up data types
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/InfernoComicsRestApplication.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/BaseController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/GlobalExceptionHandler.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ApiResponse.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/ExecutionTimeAspect.java
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/config/recognition-config.component.ts
  inferno-comics-web/src/app/components/dashboard/dashboard.component.ts
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/series-admin/series-admin.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series-form/series-form.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
  inferno-comics-web/src/app/models/api-response.model.ts
  inferno-comics-web/src/app/services/base.service.ts
  inferno-comics-web/src/app/services/comic-vine.service.ts
  inferno-comics-web/src/app/services/environment.service.ts
  inferno-comics-web/src/app/services/issue.service.ts
  inferno-comics-web/src/app/services/message.service.ts
  inferno-comics-web/src/app/services/progress-data.service.ts
  inferno-comics-web/src/app/services/recognition.service.ts
  inferno-comics-web/src/app/services/series.service.ts
  inferno-comics-web/src/app/services/theme.service.ts
  inferno-comics-web/src/app/services/version.service.ts
  inferno-comics-web/src/app/services/websocket.service.ts
Due: build-rest, build-web

version to api response
  inferno-comics-web/src/app/components/common/version-info/version-info.component.ts
  inferno-comics-web/src/app/services/version.service.ts
Due: build-web

add missing issues start
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/MissingIssue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/MissingIssueRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.html
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

refactor missing issues
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/MissingIssue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/MissingIssueRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SchedulingService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.html
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.ts
  inferno-comics-web/src/app/models/missing-issue.model.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

fix styling, search, and dates
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/MissingIssue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/SeriesServiceTest.java
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.html
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.ts
  inferno-comics-web/src/app/models/missing-issue.model.ts
Due: build-rest, build-web

add not dismissed
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/MissingIssue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/MissingIssueRepository.java
Due: build-rest

fix mat header desc
  inferno-comics-web/src/app/components/missing-issues/missing-issues.component.scss
Due: build-web

fix reverify
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
Due: build-web

fix state case
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/enums/State.java
Due: build-rest

update processing status to state
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressDataController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ProgressData.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/enums/State.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessedFile.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/ProcessedFileRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/IssueServiceTest.java
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
Due: build-rest, build-web

update desc size issue
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Issue.java
Due: build-rest

update to TEXT for descriptions
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Issue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Series.java
Due: build-rest

fix pf repo
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/ProcessedFileRepository.java
Due: build-rest

update state angular
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.html
  inferno-comics-web/src/app/components/common/processing-status-icon/processing-status-icon.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/renderers/combined-status-cell.renderer.ts
  inferno-comics-web/src/app/models/progress-data.model.ts
Due: build-web

completed
  inferno-comics-recog/src/models/JavaProgressReporter.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
Due: build-rest, build-recog

standardize states
  inferno-comics-recog/package.json
  inferno-comics-recog/src/models/JavaProgressReporter.py
  inferno-comics-recog/src/models/enums/State.py
  inferno-comics-recog/src/models/enums/__init__.py
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/services/ImageMatcherService.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
Due: build-rest, build-recog

Path conditions:
  build-rest: any of: inferno-comics-rest/**/*, docker-compose.yml
  build-recog: any of: inferno-comics-recog/**/*, docker-compose.yml
  build-web: any of: inferno-comics-web/**/*, docker-compose.yml
