Repository infernokun/InfernoComics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-recog, build-web

build-rest:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-rest
  - npm run docker:build
  - echo "BUILT_REST=true" >> build.env
  artifacts:
    reports:
  ...

build-recog:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-recog
  - npm run docker:build
  - echo "BUILT_RECOG=true" >> build.env
  artifacts:
    reports:
  ...

build-web:
  stage: build
  image: docker:24.0.7
  services:
  - name: docker:dind
    command:
    - --host=tcp://0.0.0.0:2375
    - --mtu=1500
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-web
  ...

removed clean up
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/util/FileOperations.py
Due: build-recog

auto process whenever start
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/InfernoComicsConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ProgressData.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Series.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/StartedBy.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/NextcloudFile.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/NextcloudFolderInfo.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessedFile.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessingResult.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/SeriesSyncStatus.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/ProcessedFileRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/SeriesSyncStatusRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/SeriesNextcloudSyncService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/GCDCoverListConverter.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/InfernoComicsUtils.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/VariantCoverListConverter.java
  inferno-comics-rest/src/main/resources/application-local.yml
  inferno-comics-web/src/app/components/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

auto processing manually
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/NextcloudFolderNotFound.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/SeriesSyncStatus.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/SeriesSyncStatusRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/SeriesNextcloudSyncService.java
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
Due: build-rest, build-web

auto process made. Working ui details
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/AsyncConfiguration.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessingResult.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/ProgressDataRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-rest/src/main/resources/application-local.yml
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/app.module.ts
  inferno-comics-web/src/app/components/common/sync-status-icon.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
  inferno-comics-web/src/app/models/progress-data.model.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-recog, build-web

rm clean
  inferno-comics-recog/src/services/ImageMatcherService.py
Due: build-recog

stored image hash storage
  docker-compose.yml
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/InfernoComicsConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessedFile.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/ProcessedFileRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/InfernoComicsUtils.java
  inferno-comics-rest/src/main/resources/application-local.yml
Due: build-rest, build-recog, build-web

logging images to database
  inferno-comics-recog/src/models/JavaProgressReporter.py
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/util/FileOperations.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/ProcessedFile.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/WeirdService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/ProcessedFileRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/utils/InfernoComicsUtils.java
  inferno-comics-web/src/app/components/common/sync-status-icon.component.ts
Due: build-rest, build-recog, build-web

fix nextcloud auto process and refined sync status icon
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-web/src/app/app.module.ts
  inferno-comics-web/src/app/components/common/sync-status-icon.component.ts
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.html
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.scss
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.ts
Due: build-rest, build-web

fix weird saved processed fille bug when failed or stuck processing
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/SeriesSyncStatus.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/WeirdService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.scss
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.ts
Due: build-rest, build-web

completed auto process
  docker-compose.yml
  inferno-comics-rest/build.gradle
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/web/SecurityConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/AuthenticationController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/UserController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/AuthFailedException.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/GlobalExceptionHandler.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/TokenException.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/exceptions/WrongPasswordException.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/LoginResponse.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/RefreshToken.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/RefreshTokenRequest.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/RegistrationRequest.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/SimpleGrantedAuthority.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/User.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/UserResponse.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/sync/SeriesSyncStatus.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/IssueRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/RefreshTokenRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/UserRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/AuthenticationService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/RefreshTokenService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/UserService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.ts
Due: build-rest, build-recog, build-web

fix pipeline hopefully
  .gitlab-ci.yml
Due: none

fix comic vine series search view
  inferno-comics-web/src/app/components/series-form/series-form.component.scss
Due: build-web

another pipeline fix
  .gitlab-ci.yml
  inferno-comics-web/src/app/app.component.html
Due: build-web

fix: upgrade @angular/cdk from 19.2.5 to 19.2.19
  inferno-comics-web/package.json
Due: build-web

fix: upgrade @angular/material from 19.2.5 to 19.2.19
  inferno-comics-web/package.json
Due: build-web

fix: upgrade @ngrx/store from 19.2.0 to 19.2.1
  inferno-comics-web/package.json
Due: build-web

move into start multi processing
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
Due: build-rest

add threading to nextcloud download
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
Due: build-rest

return if candidate covers are 0
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
Due: build-rest

fix processing view
  inferno-comics-recog/src/config/ComicMatcherConfig.py
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/services/ImageMatcherService.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ProgressData.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-web/nginx/nginx.conf
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.html
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.scss
  inferno-comics-web/src/app/components/series-detail/bulk-comic-selection/bulk-comic-selection.component.html
  inferno-comics-web/src/app/components/series-detail/bulk-comic-selection/bulk-comic-selection.component.ts
  inferno-comics-web/src/app/components/series-detail/bulk-comic-selection/image-hover-preview/image-hover-preview.component.ts
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
  inferno-comics-web/src/app/models/progress-data.model.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-recog, build-web

fix processing view styling
  inferno-comics-web/src/app/components/common/image-hover-preview/image-hover-preview.component.ts
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.html
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.scss
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.ts
  inferno-comics-web/src/app/components/series-detail/bulk-comic-selection/bulk-comic-selection.component.ts
Due: build-web

add search by comic vine id
  inferno-comics-web/src/app/components/series-form/series-form.component.html
  inferno-comics-web/src/app/components/series-form/series-form.component.scss
  inferno-comics-web/src/app/components/series-form/series-form.component.ts
  inferno-comics-web/src/app/models/comic-vine.model.ts
Due: build-web

fix eval link
  inferno-comics-gcd/import.sh
  inferno-comics-web/src/app/components/series-detail/progress-data-table/progress-data-table.component.ts
Due: build-web

fix: upgrade luxon from 3.6.1 to 3.7.2
  inferno-comics-web/package.json
Due: build-web

fix: upgrade @angular/common from 19.2.14 to 19.2.15
  inferno-comics-web/package.json
Due: build-web

add dismiss to progress data
  inferno-comics-recog/src/config/ComicMatcherConfig.py
  inferno-comics-recog/src/config/config.yml
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/ProgressData.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.html
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.scss
  inferno-comics-web/src/app/components/common/sync-status-icon/sync-status-icon.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.scss
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-recog, build-web

small change
  inferno-comics-web/src/app/models/progress-data.model.ts
Due: build-web

remove update when empty
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
Due: build-rest

fix some weirdness with progress data
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/ProgressController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/WeirdService.java
Due: build-rest

added batch size to config
  inferno-comics-recog/src/config/ComicMatcherConfig.py
  inferno-comics-recog/src/config/config.yml
  inferno-comics-recog/src/services/ImageMatcherService.py
Due: build-recog

version show
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/VersionController.java
  inferno-comics-web/package.json
  inferno-comics-web/scripts/gen-version.js
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/app.component.ts
  inferno-comics-web/src/app/components/common/version-info/version-info.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
  inferno-comics-web/src/app/services/version.service.ts
  inferno-comics-web/src/app/version.ts
Due: build-rest, build-web

add version stuff
  inferno-comics-recog/package.json
  inferno-comics-recog/src/routes/health/Health.py
  inferno-comics-rest/Dockerfile
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/VersionController.java
  inferno-comics-web/package.json
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/app.component.ts
  inferno-comics-web/src/app/app.module.ts
  inferno-comics-web/src/app/components/common/version-info/version-info.component.ts
  inferno-comics-web/src/app/services/version.service.ts
Due: build-rest, build-recog, build-web

remove ver animation
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/VersionController.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/common/version-info/version-info.component.ts
Due: build-rest, build-web

work issue list view
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/components/series-list/series-list.component.ts
Due: build-web

load issues
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
Due: build-web

finish issue view
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-web/src/app/components/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues-list/issues-list.component.scss
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

removed stuff
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
Due: build-web

switch images
  inferno-comics-web/src/app/components/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues-list/issues-list.component.ts
Due: build-web

add no issues msg
  inferno-comics-web/src/app/components/issues-list/issues-list.component.html
  inferno-comics-web/src/app/components/issues-list/issues-list.component.scss
Due: build-web

ver bump 0.2.0
  inferno-comics-web/package.json
Due: build-web

Path conditions:
  build-rest: any of: inferno-comics-rest/**/*, docker-compose.yml
  build-recog: any of: inferno-comics-recog/**/*, docker-compose.yml
  build-web: any of: inferno-comics-web/**/*, docker-compose.yml
