Repository infernokun/InfernoComics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-recog, build-web

build-rest:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-rest
  - npm run docker:build
  - echo "BUILT_REST=true" >> build.env
  artifacts:
    reports:
  ...

build-recog:
  stage: build
  image: docker:24.0.7
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-recog
  - npm run docker:build
  - echo "BUILT_RECOG=true" >> build.env
  artifacts:
    reports:
  ...

build-web:
  stage: build
  image: docker:24.0.7
  services:
  - name: docker:dind
    command:
    - --host=tcp://0.0.0.0:2375
    - --mtu=1500
  before_script:
  - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u ${DOCKER_HUB_USERNAME} --password-stdin
  - apk add --no-cache nodejs npm bash jq
  script:
  - cd inferno-comics-web
  ...

add static route to recog
  inferno-comics-recog/package.json
  inferno-comics-recog/src/recog.py
Due: build-recog

eval page more comic-like
  inferno-comics-recog/src/static/css/base.css
  inferno-comics-recog/src/static/css/evaluation.css
  inferno-comics-recog/src/templates/evaluation_result.html
Due: build-recog

updated more angular packages
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

gradle updates
  inferno-comics-rest/build.gradle
  inferno-comics-rest/gradle/wrapper/gradle-wrapper.jar
  inferno-comics-rest/gradlew
  inferno-comics-rest/gradlew.bat
  inferno-comics-rest/package.json
Due: build-rest

Improve feature matching for photo-to-digital comic cover comparison
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
Due: build-recog

minor improvement to feature matching
  inferno-comics-recog/package.json
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
  inferno-comics-web/pnpm-lock.yaml
  inferno-comics-web/src/app/components/series/series-detail/image-processing-progress/image-processing-progress.component.ts
Due: build-recog, build-web

another feature matching update for camera angles
  inferno-comics-recog/src/models/FeatureMatchingComicMatcher.py
Due: build-recog

put series name in json files
  inferno-comics-recog/package.json
  inferno-comics-recog/src/routes/image_matcher/ImageMatcher.py
  inferno-comics-recog/src/services/ImageMatcherService.py
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/admin/admin.component.html
  inferno-comics-web/src/app/components/admin/admin.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-recog, build-web

fix: upgrade @angular/cdk from 21.0.1 to 21.1.1
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

fix: upgrade @angular/material from 21.0.1 to 21.1.1
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

fix: upgrade zone.js from 0.15.1 to 0.16.0
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

add ability to mark as read
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/config/WebConfig.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/IssueController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/models/issue.model.ts
  inferno-comics-web/src/app/services/base.service.ts
  inferno-comics-web/src/app/services/issue.service.ts
Due: build-rest, build-web

fix pull limit for deploy stage
  .gitlab-ci.yml
Due: none

token approach
  .gitlab-ci.yml
Due: none

tagging ver update
  .gitlab-ci.yml
Due: none

git ci updates
  .gitlab-ci.yml
Due: none

git ci wip
  .gitlab-ci.yml
Due: none

git ci wip 1
  .gitlab-ci.yml
Due: none

git ci wip 2
  .gitlab-ci.yml
Due: none

git ci wip 3
  .gitlab-ci.yml
Due: none

Fix mobile overflow of action buttons in series detail card grid
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
Due: build-web

git ci wip 4
  .gitlab-ci.yml
Due: none

bump versions [skip ci]
  inferno-comics-web/package.json
Due: build-web

git ci wip 5
  .gitlab-ci.yml
Due: none

bump versions [skip ci]
  inferno-comics-recog/package.json
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
Due: build-rest, build-recog

git ci wip 6
  .gitlab-ci.yml
Due: none

git ci wip 7
  inferno-comics-recog/src/recog.py
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/InfernoComicsRestApplication.java
  inferno-comics-web/src/main.ts
Due: build-rest, build-recog, build-web

v0.1.6: bump inferno-comics-rest v0.5.8, inferno-comics-recog v0.3.10, inferno-comics-web v0.7.10 [skip ci]
  inferno-comics-recog/package.json
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-recog, build-web

feat: add New Releases tab to track monthly comic releases
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/MissingIssueRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/releases/releases.component.html
  inferno-comics-web/src/app/components/releases/releases.component.scss
  inferno-comics-web/src/app/components/releases/releases.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

add a way to track new releases
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/MissingIssueRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/src/app/app-routing.module.ts
  inferno-comics-web/src/app/app.component.html
  inferno-comics-web/src/app/components/releases/releases.component.html
  inferno-comics-web/src/app/components/releases/releases.component.scss
  inferno-comics-web/src/app/components/releases/releases.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

fix for loop
  inferno-comics-web/src/app/components/releases/releases.component.html
Due: build-web

v0.1.7: bump inferno-comics-web v0.7.11 [skip ci]
  inferno-comics-web/package.json
Due: build-web

fix new releases
  inferno-comics-web/src/app/components/releases/releases.component.html
  inferno-comics-web/src/app/components/releases/releases.component.scss
  inferno-comics-web/src/app/components/releases/releases.component.ts
  inferno-comics-web/src/app/models/missing-issue.model.ts
Due: build-web

v0.1.8: bump inferno-comics-web v0.7.12 [skip ci]
  inferno-comics-web/package.json
Due: build-web

fix folder bug and remove combined series
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Series.java
  inferno-comics-web/src/app/components/releases/releases.component.html
  inferno-comics-web/src/app/components/series/series-form/series-form.component.html
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
  inferno-comics-web/src/app/components/series/series-form/series-form.component.ts
Due: build-rest, build-web

v0.1.9: bump inferno-comics-rest v0.5.9, inferno-comics-web v0.7.13 [skip ci]
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-web

fix edit form remal some
  inferno-comics-web/src/app/components/series/series-form/series-form.component.html
Due: build-web

v0.1.10: bump inferno-comics-web v0.7.14 [skip ci]
  inferno-comics-web/package.json
Due: build-web

fix variant cover stuff
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Issue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/dto/IssueRequest.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/IssueRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/StatsService.java
  inferno-comics-rest/src/test/java/com/infernokun/infernoComics/services/IssueServiceTest.java
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/comic-match-selection/comic-match-selection.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.html
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.scss
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/models/issue.model.ts
Due: build-rest, build-web

v0.1.11: bump inferno-comics-rest v0.5.10, inferno-comics-web v0.7.15 [skip ci]
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-web

Path conditions:
  build-rest: any of: inferno-comics-rest/**/*, docker-compose.yml
  build-recog: any of: inferno-comics-recog/**/*, docker-compose.yml
  build-web: any of: inferno-comics-web/**/*, docker-compose.yml
