Repository infernokun/InfernoComics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-recog, build-web

Path conditions:
  build-rest: any of: inferno-comics-rest/**/*, docker-compose.yml
  build-recog: any of: inferno-comics-recog/**/*, docker-compose.yml
  build-web: any of: inferno-comics-web/**/*, docker-compose.yml

actually fix the variants
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.html
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
Due: build-rest, build-web

v0.1.12: bump inferno-comics-rest v0.5.11, inferno-comics-web v0.7.16 [skip ci]
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-web

fix next to read and folder structure diag
  inferno-comics-web/src/app/components/common/dialog/json-dialog/json-dialog.component.html
  inferno-comics-web/src/app/components/common/dialog/json-dialog/json-dialog.component.scss
  inferno-comics-web/src/app/components/common/dialog/json-dialog/json-dialog.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
Due: build-web

v0.1.13: bump inferno-comics-web v0.7.17 [skip ci]
  inferno-comics-web/package.json
Due: build-web

add issue progress data identifier
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Issue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/dto/IssueRequest.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.html
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.scss
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.ts
  inferno-comics-web/src/app/components/series/series-detail/bulk-comic-selection/bulk-comic-selection.component.ts
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
  inferno-comics-web/src/app/models/issue.model.ts
Due: build-rest, build-web

v0.1.14: bump inferno-comics-rest v0.5.12, inferno-comics-web v0.7.18 [skip ci]
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-web

session id instead of whole obj
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Issue.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/IssueService.java
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.html
  inferno-comics-web/src/app/components/common/dialog/issue-view-dialog/issue-view-dialog.component.scss
  inferno-comics-web/src/app/models/issue.model.ts
Due: build-rest, build-web

v0.1.15: bump inferno-comics-rest v0.5.13, inferno-comics-web v0.7.19 [skip ci]
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-web

fix series not deleting properly
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/InfernoComicsRestApplication.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/MissingIssueRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/ProgressDataRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/repositories/sync/SeriesSyncStatusRepository.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/src/app/components/series/series-detail/series-detail.component.ts
Due: build-rest, build-web

rm tagging
  .gitlab-ci.yml
  inferno-comics-recog/package.json
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
Due: build-rest, build-recog, build-web

fix and improve missing comics
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/README.md
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.html
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.scss
  inferno-comics-web/src/app/components/issues/issues-missing/issues-missing.component.ts
  inferno-comics-web/src/app/services/series.service.ts
Due: build-rest, build-web

fix bug where added manually added issue will still get processed forever via nextcloud. Added select series img from existing comic vine series images
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-web/package.json
  inferno-comics-web/src/app/components/series/series-form/series-form.component.html
  inferno-comics-web/src/app/components/series/series-form/series-form.component.scss
  inferno-comics-web/src/app/components/series/series-form/series-form.component.ts
Due: build-rest, build-web

fix: inferno-comics-web/package.json & inferno-comics-web/pnpm-lock.yaml to reduce vulnerabilities
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web

fix inf processing for nextcloud items if the series is already complete
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
Due: build-rest

fixed case where the owned is more than the available during nextcloud processing
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
Due: build-rest

fix: resolve progress_data deadlock and nextcloud sync spamming
  inferno-comics-recog/requirements.txt
  inferno-comics-recog/src/recog.py
  inferno-comics-recog/src/routes/barcode/Barcode.py
  inferno-comics-rest/package.json
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/controllers/SeriesController.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/models/Series.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/ProgressDataService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/SeriesService.java
  inferno-comics-rest/src/main/java/com/infernokun/infernoComics/services/sync/NextcloudSyncService.java
  inferno-comics-rest/src/main/resources/application-local.yml
  inferno-comics-rest/src/main/resources/application.yml
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
  inferno-comics-web/src/app/components/series/series-list/series-list.component.html
  inferno-comics-web/src/app/components/series/series-list/series-list.component.ts
Due: build-rest, build-recog, build-web

ver
  inferno-comics-rest/src/main/resources/application.yml
Due: build-rest

update web package deps
  inferno-comics-web/package.json
  inferno-comics-web/pnpm-lock.yaml
Due: build-web
